{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    Création d'un genre
{% endblock %}

{% block body %}
    <h1>Création d'un nouveau genre</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        <button type="submit" class="btn btn-success">
            Ajouter
        </button>
    {{ form_end(form) }}
{% endblock %}

